.app {
  text-align: center;
}
.logo {
  width: 200px;
  height: 200px;
  animation: logo-spin infinite 20s linear;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
